@charset "UTF-8";

/*******************************************************************************/
/*                          LAYOUT                                             */
/*******************************************************************************/

/* default storlek på bilder */
img {
    width: 10vw;
}

/********************* BODY layout *********************************************/
body {
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: "header header"
        "global_nav    main"
        "footer footer";
    margin: 5% 10% 5% 10%;
}
main { grid-area: main; } footer { grid-area: footer; } header { grid-area: header; } #global_nav { grid-area: global_nav; } footer { grid-area: footer; }
                                                                                      
header {
    text-align: center;
}
nav {
    display: contents;
    margin: 10px;
}

footer #courtesy {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}


#courtesy_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/********************* startsidan *********************************************/
body#start_sida {
    grid-template-columns: 15vw auto 20vw;
    grid-template-areas: "header header header"
        "global_nav    main   aside"
        "footer footer footer";
}
aside { grid-area: aside; }

/* ordförande välkomnar */
#ordförande_img {
    float: right;
    width: 20vw;    
}

/* utflykten */
#utflykten {
    display: grid;
    grid-template-columns: auto auto;

    grid-template-areas: "start_text start_text"
        "kulturen_bild historiska_museet_bild"
        "kulturen_text historiska_museet_text"
        "domkyrkan_bild lundagård_bild"
        "domkyrkan_text lundagård_text"
        "efter_text efter_text";

    gap: 20px;

    align-items: baseline;

}

#start_text { grid-area: start_text; } #kulturen_text { grid-area: kulturen_text; } #kulturen_bild { grid-area: kulturen_bild; }
#historiska_museet_text { grid-area: historiska_museet_text; } #historiska_museet_bild { grid-area: historiska_museet_bild; }
#domkyrkan_text { grid-area: domkyrkan_text; } #domkyrkan_bild { grid-area: domkyrkan_bild; } #lundagård_text { grid-area: lundagård_text; }
#lundagård_bild { grid-area: lundagård_bild; } #efter_text { grid-area: efter_text;}


#utflykten img {
    width: 20vw;        
    clear: both;
}

/* intervjun */

#erik_img {
    float: right;
    margin: 10px;
}

/* kalendariet */
aside #kalendariet>ul {
    list-style: none;
    margin:0;
    padding: 0;
}

/********************* butiken *********************************************/

#butik_form {
    display: grid;
    grid-template-areas: "legend_produkt legend_produkt"
        "tshirt_produkt kopp_produkt"
        "badhandduk_produkt mössa_produkt"
        "kunduppgifter_fieldset kunduppgifter_fieldset"
        "kunduppgifter_button .";

}
#legend_produkt { grid-area: legend_produkt; } #tshirt_produkt { grid-area: tshirt_produkt; } #kopp_produkt {    grid-area: kopp_produkt;}
#badhandduk_produkt { grid-area: badhandduk_produkt; } #mössa_produkt { grid-area: mössa_produkt; } 
#kunduppgifter_fieldset { grid-area: kunduppgifter_fieldset;} #kunduppgifter_button { grid-area: kunduppgifter_button; }

#butik_form img {
    width: 20vw;
}

/* produkter */
#produkter_fieldset {
    display: contents;
}

.produkt {
    display: flex;
    flex-direction: column;
}

/* betala */
#kunduppgifter_button {
    width: 100px;
}

/* betala formulär */
#fields {
    display: grid;
    grid-template-areas: "namn address postnummer postort";
}
#namn { grid-area: namn; } #address { grid-area: address;} #postnummer { grid-area: postnummer; } #postort { grid-area: postort; }

/********************* historiesidan *********************************************/
#historie_sida {
    grid-template-areas: "header header"
        "global_nav skane_oversikt"
        "global_nav area_nav"
        "global_nav tid_nav"
        "global_nav main"
        "footer     footer";
}
#skane_oversikt { grid-area: skane_oversikt; } #skane_area_nav { grid-area: area_nav; } #skane_tid_nav { grid-area: tid_nav; }


/********************* föreningssidan *********************************************/
#föreningsinformation {
    /*grid-template-rows: min-content min-content auto min-content;*/
    grid-template-rows: min-content min-content auto min-content;

    grid-template-areas: "header header"
        "global_nav förenings_nav"
        "global_nav main"
        "footer     footer";
}
#förenings_nav { grid-area: förenings_nav; }


#förenings_form {
    display: flex;
    flex-direction: column;
}

#button_förenings_form {
    width: 100px;
}

/*******************************************************************************/
/*                          NAVIGATION LAYOUT                                  */
/*******************************************************************************/

/* mobil  global nav*/
#menucheckbox {
    visibility: hidden;
    display: none;
}

/* alla navigerings-listor */
#global_nav>ul,
#förenings_nav>ul,
#skane_area_nav,
#skane_tid_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 10px;
}

/* global nav */
#global_nav>ul {
    flex-direction: column;
}

/* historie lokal navigering */
#skane_oversikt_vald,
#skane_oversikt {
    text-align: center;
}

#skane_area_nav,
#skane_tid_nav {
    justify-content: center;
}

#skane_area_nav,
#skane_tid_nav {
    flex-direction: row;
}

li>a,
#skane_oversikt,
#skane_oversikt_vald {
    /*to get backrounds color the whole way on the line? */
    display: block;
    text-decoration: none;
}

/* förenings nav */
#förenings_nav>ul {
    display: flex;
    flex-direction: row;
}

/*******************************************************************************/
/*                          BORDERS                                            */
/*******************************************************************************/
/* startsidan */
#välkomst_info, #utflykten {
    border-bottom-style: solid;   
}
aside {
    border-left-style: solid;
}

#ordförande_img {
   border-radius: 50%;
}
img {
    border-radius: 5%;
}


/*******************************************************************************/
/*                          COLORS/IMAGES                                      */
/*******************************************************************************/

html {
    /*    background-image: url("../img/raps.jpg");
        background-size: cover; */
    /*background-color: #2484BF;*/
    background-color: #2484BF;
    /*background-image: linear-gradient(to bottom, #1a78b8 10vh, #55B3D9 20vh 100vh);*/
    background-image: linear-gradient(to right, #2484BF 1%, #55B3D9 10%);

}

body {
    background-image: linear-gradient(to bottom, #F2D399 20%,#BFA450 60%, #F2D399 80%)
}

header {
    color: #F2D399;
    background-image: url("../img/raps.jpg");
    background-size: 100% 100%;
    
} 

header>h1 {
    color: #F2D399;
    font-size: 100% 200%;
    mix-blend-mode: exclusion;
}

#vald_sida,
#skane_oversikt_vald,
#vald_stad,
#vald_tid,
footer {
    /*#55B3D9 ljusare blå*/
    /*  color: #2484BF lite mörkare blå; 
    /* #BFA450 lite mörkare "brunt */
    /* #593B02 ännu mörkare brunt */
    background-color: #F2D399;
    background-image: none;
    color: #593B02;
}

a,
#global_nav>ul,
#local_nav,
#förenings_nav>ul,
#skane_oversikt,
#skane_area_nav,
#skane_tid_nav
 {
    background-color: #55B3D9;
    color: #F2D399;
}


/*******************************************************************************/
/*                          FONTS                                              */
/*******************************************************************************/

@font-face {

    font-family: "Aladin";
    src: url("../fonts/Aladin/Aladin-Regular.ttf");
    font-weight: normal;
    font-style: normal;

    font-family: "Ballet";
    src: url("../fonts/Ballet/Ballet-Regular-VariableFont_opsz.ttf");
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: "Ballet";
    font-size: larger;
}

body {
    font-family: "Aladint";
    font-style: normal;
    font-size: 130%;
}

nav {
    font-size: 150%;    
}

#courtesy_nav {
    font-style: italic;
}

#footer_gyas_vänner {
    font-weight: bold;
}


/*******************************************************************************/
/*                          RESPONSIVE DESIGN                                  */
/*******************************************************************************/
/************* DESKTOP *****************************/

@media screen and (max-width: 1200px) {

    /* butiken */
    #butik_fieldset,
    #kunduppgifter_fieldset {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {

    /* footer */
    #courtesy_nav {
        flex-direction: column;
        gap: 0;
    }
}


@media screen and (max-width: 900px) {

    #fields {
        display: grid;
        grid-template-areas: "namn address"
            "postnummer postort";
    }

    body#start_sida {
        grid-template-columns: minmax(10vw, auto) auto minmax(auto, 20vw);
        grid-template-areas: "header header"
            "global_nav    main"
            "aside aside"
            "footer footer";
    }
}

/************* MOBILE *****************************/
@media screen and (max-width: 600px) {

    #menuicon {
        background-image: url(../img/menuicon.png);
        width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;
    }

    #menucheckbox~ul {
        display: none;
    }

    #menucheckbox:checked~ul {
        display: flex;
    }

    body {
        grid-template-columns: auto;
        grid-template-rows: min-content auto auto min-content;
        grid-template-areas:
            "header"
            "global_nav"
            "main"
            "footer";
    }

    body#start_sida {
        grid-template-areas: "header"
            "global_nav"
            "main"
            "aside"
            "footer";
    }

    #utflykten {
        grid-template-columns: auto;
        grid-template-areas:
            "start_text"
            "kulturen_bild"
            "kulturen_text"
            "historiska_museet_bild"
            "historiska_museet_text"
            "domkyrkan_bild"
            "domkyrkan_text"
            "lundagård_bild"
            "lundagård_text"
            "efter_text";
    }

    #ordförande_img {
        float: none;
    }

    img,
    #lundagård_img {
        width: 80vw;
    }

    #historie_sida {
        grid-template-areas:
            "header"
            "global_nav"
            "skane_oversikt"
            "area_nav"
            "tid_nav"
            "main"
            "footer";
    }

    #skane_area_nav,
    #skane_tid_nav,
    #förenings_nav>ul {
        flex-direction: column;
    }

    #föreningsinformation {
        grid-template-columns: auto;
        grid-template-areas: "header"
            "global_nav"
            "förenings_nav"
            "main"
            "footer";

    }

    /* butiken */
    #butik_form fieldset,
    #kunduppgifter,
    fieldset {
        flex-direction: column;
    }

    #butik_form {
        grid-template-areas: "legend_produkt"
            "tshirt_produkt"
            "kopp_produkt"
            "badhandduk_produkt"
            "mössa_produkt"
            "kunduppgifter_fieldset"
            "kunduppgifter_button";

    }

    #fields {
        display: grid;
        grid-template-areas: "namn"
            "address"
            "postnummer"
            "postort";
    }

}
