@charset "UTF-8";

/*******************************************************************************/
/*                          LAYOUT                                             */
/*******************************************************************************/

#rapport {
    position: absolute;
    top: 0;
    left: 0;

}

/* default storlek på bilder */
img {
    width: 10vw;
}

.form_buttons, .feedback_buttons {
    display: flex;
    flex-direction: row;
    
}

input {
    font-size: 1vw;
}

/********************* BODY layout *********************************************/
body {
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: "header header"
        "global_nav    main"
        "footer footer";
    margin: 5% 10% 5% 10%;
    padding: 20px;
    border-radius: 2vw;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

header {
    grid-area: header;
    border-radius: 2vw 2vw 0 0;
}

#global_nav {
    grid-area: global_nav;
}

footer {
    grid-area: footer;
}

header {
    text-align: center;
}

nav {
    display: contents;
    margin: 10px;
}

footer #courtesy {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

#courtesy_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/********************* startsidan *********************************************/
body#start_sida {
    grid-template-columns: 15vw auto 20vw;
    grid-template-areas: "header header header"
        "global_nav    main   aside"
        "footer footer footer";


}

aside {
    grid-area: aside;
    padding: 10px;
}

/* ordförande välkomnar */
#ordförande_img {
    float: right;
}

#start_sida #ordförande_img {
    width: 20vw;
}

/* utflykten */
#utflykten {
    display: grid;
    grid-template-columns: auto auto;

    grid-template-areas: "start_text start_text"
        "kulturen_bild historiska_museet_bild"
        "kulturen_text historiska_museet_text"
        "domkyrkan_bild lundagård_bild"
        "domkyrkan_text lundagård_text"
        "efter_text efter_text";

    gap: 20px;

    align-items: baseline;

}

#start_text {
    grid-area: start_text;
}

#kulturen_text {
    grid-area: kulturen_text;
}

#kulturen_bild {
    grid-area: kulturen_bild;
}

#historiska_museet_text {
    grid-area: historiska_museet_text;
}

#historiska_museet_bild {
    grid-area: historiska_museet_bild;
}

#domkyrkan_text {
    grid-area: domkyrkan_text;
}

#domkyrkan_bild {
    grid-area: domkyrkan_bild;
}

#lundagård_text {
    grid-area: lundagård_text;
}

#lundagård_bild {
    grid-area: lundagård_bild;
}

#efter_text {
    grid-area: efter_text;
}

#utflykten img {
    width: 20vw;
    clear: both;
}

/* intervjun */

#erik_img {
    float: right;
    margin: 10px;
}

/* kalendariet */
aside #kalendariet>ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

/********************* butiken *********************************************/
#förenings_produkter_fieldset {
    display: grid;
    grid-template-areas:
        "produkt_legend produkt_legend"
        "tshirt_produkt kopp_produkt"
        "badhandduk_produkt mössa_produkt"
        "medlemmars_produkt_legend medlemmars_produkt_legend";

}

#produkt_legend {
    grid-area: produkt_legend;
}

#tshirt_produkt {
    grid-area: tshirt_produkt;
}

#kopp_produkt {
    grid-area: kopp_produkt;
}

#badhandduk_produkt {
    grid-area: badhandduk_produkt;
}

#mössa_produkt {
    grid-area: mössa_produkt;
}

#medlemmars_produkt_legend {
    grid-area: medlemmars_produkt_legend;
}

#medlemmars_produkter_fieldset {
    display: grid;
    grid-template-areas:
        "stehag_bok_produkt söderlen_bok_produkt";

}

#stehag_bok_produkt {
    grid-area: stehag_bok_produkt;
}

#söderlen_bok_produkt {
    grid-area: söderlen_bok_produkt;
}

#butik_form img {
    width: 20vw;
}

/* produkter */
.produkt {
    display: flex;
    flex-direction: column;
}

/* betala formulär */
#fields {
    display: grid;
    grid-template-areas: "namn address postnummer postort";
}

#namn {
    grid-area: namn;
}

#address {
    grid-area: address;
}

#postnummer {
    grid-area: postnummer;
}

#postort {
    grid-area: postort;
}

/********************* historiesidan *********************************************/
#historie_startsida {
    grid-template-areas: "header header header"        
    "global_nav historia_välkomst historia_välkomst"        
        "global_nav skane_oversikt skane_oversikt"
        "global_nav area_nav tid_nav"        
        "global_nav main main"
        "footer     footer footer";
}

#historie_sida {
    grid-template-areas: "header header header"
        "global_nav     skane_oversikt skane_oversikt"
        "global_nav     area_nav tid_nav"    
        "global_nav        main main"
        "footer     footer footer";
}


#historie_startsida>main {
    display: contents;
}

#historia_välkomst {
    grid-area: historia_välkomst
}

#skanes_historia {
    grid-area: skanes_historia
}

#skane_oversikt {
    grid-area: skane_oversikt;
}

#skane_area_nav {
    grid-area: area_nav;
}

#skane_tid_nav {
    grid-area: tid_nav;
}

#skanska_stader,
#skanska_epoker {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}



/********************* aktiviteter  / medlemsforum ****************************/


#valda_aktiviteter img,
#aktuella_aktiviteter img {
    width: 30vw;
}

.posts {
    padding: 20px;
    margin: 0;
}

.posts li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#inlägg_button {
    width:50%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);

}

#feedback_text {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 300px;

    
}

#skapa_ny_kategori {
    font-weight: bold;
    background-color: darkgray;
}
.filtrera {
    margin: 10px;
    padding: 20px;
}

.posts_container {
    margin: 30px 0 0 0;
    padding: 15px;
}

.posts img {
    width: 50vw;
}


/********************* föreningssidan *********************************************/
#föreningsinformation {
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: "header header"
        "global_nav förenings_nav"
        "global_nav main"
        "footer     footer";
}

#förenings_nav {
    grid-area: förenings_nav;
}

#styrelse,
#ledamöter {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 10px;
}

.styrelseledamot figure {
    margin: 0;
    padding: 0;
    text-align: left;

}

#förenings_form {
    width: 30vw;
}

#förenings_form_fieldset {
    display: grid;
    grid-template-columns: 10vw min-content;
    grid-template-areas: "namn_field namn_field"
        "födelsedatum_field födelsedatum_field"
        "address_field address_field"
        "postnummer_field postort_field"
        "telefonnummer_field telefonnummer_field"
        "mailaddress_field mailaddress_field";
    gap: 10px;

}

#namn_field {
    grid-area: namn_field
}

#födelsedatum_field {
    grid-area: födelsedatum_field
}

#address_field {
    grid-area: address_field
}

#postnummer_field {
    grid-area: postnummer_field
}

#telefonnummer_field {
    grid-area: telefonnummer_field
}

#mailaddress_field {
    grid-area: telefonnummer_field
}

#mailaddress_field {
    grid-area: mailaddress_field
}

.field {
    display: flex;
    flex-direction: column;
}

form fieldset {
    display: flex;
    flex-direction: row;
}

#styrelsen, #ledamöter {
    display: flex;
    flex-direction: row;
}

/********************* feedback *********************************************/
#feedback_dialog>form {
    display: flex;
    flex-direction: column;
}

#feedback_dialog form fieldset {

    display: flex;
    flex-direction: column;
}

/*******************************************************************************/
/*                          NAVIGATION LAYOUT                                  */
/*******************************************************************************/

/* mobil  global nav*/
#menucheckbox {
    visibility: hidden;
    display: none;
}


nav {
    /*display: flex;
    flex-direction: column;
    */
    gap: 20px;
}
    

    
/* alla navigerings-listor */
#global_nav>ul,
#förenings_nav>ul,
#skane_area_nav,
#skane_tid_nav,
#skane_oversikt>a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 10px;
}

/* global nav */
#global_nav>ul {
    flex-direction: column;
}

/* historie lokal navigering */
#skane_oversikt_vald,
#skane_oversikt {
    text-align: left;
}

#skane_area_nav,
#skane_tid_nav {
    justify-content: center;
}

#skane_area_nav,
#skane_tid_nav,
#förenings_nav {
    flex-direction: column;
}

li>a,
#skane_oversikt>a {
    /*to get backrounds color the whole way on the line? */
    display: block;
    text-decoration: none;
}

/* förenings nav */
#förenings_nav>ul {
    flex-direction: column;
}

/*******************************************************************************/
/*                          BORDERS                                            */
/*******************************************************************************/
/* startsidan */
#välkomst_info,
#utflykten {
    border-bottom-style: solid;
}

aside {
    border-left-style: solid;
    border-style: solid;
    border-radius: 2em;
    margin: 20px;
}

#ordförande_img {
    border-radius: 50%;
}

img,.filtrera, #feedback_dialog, #medlemskap_dialog, #förenings_form,
#betala_form, #beställ_valda_produkter_dialog, #skriv_inlägg  {
    border-radius: 5%;
}

.posts_container {
    border: solid;
    border-radius: 2em;
}

.posts {
    border: solid;
    border-radius: 2vw;    
}

.posts ul {
    padding: 0;
    margin: 0;

}

#fastnålade_inlägg {
    border-width: 10px;
}

.filtrera {
    border-radius: 2vw;
}

.section_divided section:nth-of-type(1)   {
    border-top: solid;
}

.section_divided section {
    border-bottom: solid;
}

.filtrera, #medlemskap_dialog {
    border: solid;
}

/*******************************************************************************/
/*                          COLORS/IMAGES                                      */
/*******************************************************************************/

html {
    background-color: #2484BF;
    background-image: linear-gradient(to right, #2484BF 1%, #55B3D9 10%);
}

body {
    background-color: #F2D399;
    /* background-image: linear-gradient(to bottom, #F2D399 20%, #BFA450 60%, #F2D399 80%)*/
}

header {

    background-image: url("../img/raps.jpg");
    background-size: 100% 100%;
}

aside {
    background-color: #BFA450;
}

header>h1 {
    color: #593B02;
    font-size: 100%;
    /*mix-blend-mode: exclusion;*/
}

#vald_sida,
#skane_oversikt_vald,
#vald_stad,
#vald_tid,
footer {
    /*#55B3D9 ljusare blå*/
    /*  color: #2484BF lite mörkare blå; 
    /* #BFA450 lite mörkare "brunt */
    /* #593B02 ännu mörkare brunt */
    background-color: #F2D399;
    background-image: none;
    color: #593B02;
}

ul>a,
#global_nav>ul,
#local_nav,
#förenings_nav>ul,
#skane_oversikt,
#skane_area_nav,
#skane_tid_nav {
    background-color: #55B3D9;
    color: #F2D399;
}

#medlemskap_dialog
#beställ_valda_produkter_dialog {
    background-color: #BFA450;
    color: #593B02;
}

.posts_container {
    background-color: #BFA450;
    color: #593B02;
}

.posts em {
    color: #593B02;
}

.filtrera, #feedback_dialog, #medlemskap_dialog, #förenings_form,
#betala_form, #beställ_valda_produkter_dialog, #skriv_inlägg  {
    background-color: gray;
}

#valda_aktiviteter,
#aktuella_aktiviteter {
    border: solid;
    border-radius: 2vw;
    border-color: #593B02;
}

/*******************************************************************************/
/*                          FONTS                                              */
/*******************************************************************************/

@font-face {

    font-family: "Aladin";
    src: url("../fonts/Aladin/Aladin-Regular.ttf");
    font-weight: normal;
    font-style: normal;

    font-family: "Ballet";
    src: url("../fonts/Ballet/Ballet-Regular-VariableFont_opsz.ttf");
    font-weight: normal;
    font-style: normal;

    font-family: "Fleur De Leaht";
    src: url("../fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

header>h1 {
    font-family: "Ballet";    
    font-size: 200%;
}

header h1 a {
    text-decoration: none;
}

body {
    font-family: "Aladint";
    font-style: normal;
    font-size: 1vw;
}

nav {
    font-size: 2vw;
}

#courtesy_nav {
    font-style: italic;
}

#footer_gyas_vänner {
    font-weight: bold;
}

.cursive {
    font-family: "Fleur De Leaht";
    text-align: center;
    font-size: 200%;
}

.posts em {
    font-weight: bold;
    text-decoration: underline;
}

.posts>p {
    text-align: center;
    font-weight: bold;
}

aside h2 {
  font-size: 2.5vw;    
}




/*******************************************************************************/
/*                          RESPONSIVE DESIGN                                  */
/*******************************************************************************/
/************* DESKTOP *****************************/

@media screen and (max-width: 1200px) {

    /* butiken */
    #butik_fieldset,
    #kunduppgifter_fieldset {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {

    /* footer */
    #courtesy_nav {
        flex-direction: column;
        gap: 0;
    }
}


@media screen and (max-width: 900px) {

    #fields {
        display: grid;
        grid-template-areas: "namn address"
            "postnummer postort";
    }

    body#start_sida {
        grid-template-columns: minmax(10vw, auto) auto;
        grid-template-areas: "header header"
            "global_nav    main"
            "global_nav aside"
            "footer footer";
    }

    aside {
        border-top: solid;
        border-left: none;
    }
}

/************* MOBILE *****************************/
@media screen and (max-width: 600px) {

    #menuicon {
        background-image: url(../img/menuicon.png);
        width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;
    }

    #menucheckbox~ul {
        display: none;
    }

    #menucheckbox:checked~ul {
        display: flex;
    }

    body {
        grid-template-columns: auto;
        grid-template-rows: min-content auto auto min-content;
        grid-template-areas:
            "header"
            "global_nav"
            "main"
            "footer";

        font-size: 4vw;
    }

    .posts_container {
        border-radius: 1.5vw;
    }
    .posts {
        font-size: 2vw;
        border-radius: 1.5vw;
    }

    nav {
        font-size: 6vw;
    }

    body#start_sida {
        grid-template-columns: auto;
        grid-template-areas: "header"
            "global_nav"
            "main"
            "aside"
            "footer";
    }

    #utflykten {
        grid-template-columns: auto;
        grid-template-areas:
            "start_text"
            "kulturen_bild"
            "kulturen_text"
            "historiska_museet_bild"
            "historiska_museet_text"
            "domkyrkan_bild"
            "domkyrkan_text"
            "lundagård_bild"
            "lundagård_text"
            "efter_text";
    }

    #ordförande_img {
        float: none;
    }

    img,
    #lundagård_img {
        width: 20vw;
    }

    #utflykten img {
        width: 60vw;
    }
    .posts img {
        width: 40vw;
    }


    #historie_sida {
        grid-template-areas:
            "header"
            "global_nav"
            "skane_oversikt"
            "area_nav"
            "tid_nav"
            "main"
            "footer";
    }

    #skanska_stader,
    #skanska_epoker {
        flex-direction: column;
    }

    #föreningsinformation {
        grid-template-columns: auto;
        grid-template-areas: "header"
            "global_nav"
            "förenings_nav"
            "main"
            "footer";

    }

    /* butiken */
    #butik_form fieldset,
    #kunduppgifter,
    fieldset {
        flex-direction: column;
    }

    #förenings_produkter_fieldset {
        grid-template-areas:
            "legend_produkt"
            "tshirt_produkt"
            "kopp_produkt"
            "badhandduk_produkt"
            "mössa_produkt"
            "kunduppgifter_fieldset";
    }

    #medlemmars_produkter_fieldset {
        display: grid;
        grid-template-areas:
            "stehag_bok_produkt"
            "söderlen_bok_produkt";

    }

    #fields {
        display: grid;
        grid-template-areas: "namn"
            "address"
            "postnummer"
            "postort";
    }

    form fieldset, form fieldset input {
        flex-direction: column;
        font-size: 2vw;
    }

    #butik_form img {
        width: 60vw;
    }

    #styrelse, #ledamöter {     
        flex-direction: column;
    }


    #styrelse img, #ledamöter img {
        width: 60vw;
    }
}